NODE_ENV=development
PORT=2000
MONGO_URI=mongodb://localhost:27017/social-media
JWT_REFRESH_KEY=60a7d667400528972b10b77d47cdaac43caf12b3a5b7abe807cd16848438632e
JWT_REFRESH_EXPIRED=7d
JWT_ACCESS_KEY=c3d2c83fc9a35d98745acc1efb366572fbd8753ca74c7c1fa4127620fcf1c0c8
JWT_ACCESS_EXPIRED=10m
BCRYPT_SALT_ROUND=10
RESEND_API_KEY=YOUR_RESEND_API_KEY
EMAIL_FROM=YOUR_RESEND_EMAIL
REFRESH_COOKIE_MAX_AGE=604800000    # 7 days
ACCESS_COOKIE_MAX_AGE=600000        # 10 minutes
CLIENT_URL=http://localhost:5173